<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="600 seconds">

  <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>d:/logs/sso.txt</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>d:/logs/sso-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy   class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 100MB -->
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
	  <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>	  
      <pattern>[%date] %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="org.springframework" level="ERROR"/>
  <logger name="java.sql.Connection" level="ERROR"/> 
  
  <root level="INFO">
    <appender-ref ref="ROLLING" />
  </root>
</configuration>